body {
    background-color: #eee;
}

.box1 {
    width: 300px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 2px;
    background-color: white;
    border-left: solid 2px #f00;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.box2 {
    width: 300px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 2px;
    background-color: white;
    border-left: solid 2px #0f0;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.box3 {
    width: 300px;
    margin-left: 5px;
    padding: 2px;
    background-color: white;
    border-left: solid 2px #00f;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
}

p {
    text-align: center;
}

.box1:hover {
    transform: scale(1.05,1.05);
}

.box2:hover {
    box-shadow: 2px 3px 5px rgba(0,0,0,0.3);;
}

.box3:hover {
    background-color: rgba(0,150,255,0.1);
}

/*conviene hacer todas las propiedades que tienen en comun en una misma clase, poniendo la clase box a todos losdiv y despues a cada una una segunda clase que sea el color por ejemplo 
    y que despues las que son particulares de ese div vayan a parte, y organizarlo tipo caja y animacion abajo para que cada una este cerca de lo suyo en el codigo*/