body {
    background-color: #cccccc;
}

.caja1 {
    background-color: #ffffff;
    margin: 8px;
    border-style: outset;
    border-top: none;
    border-radius: 4px;
}

#cabecera {
    margin: 0px;
    padding: 16px;
}

.linea {
    margin: 0px;
}

.boton {
    margin-bottom: 8px;
    margin-top: 8px;
}

#acepta {
    margin-left: 8px;
    background-color: #55c;
}

#parrafo1 {
    margin-left: 8px;
}