html{
    height: 100%;
}
body {
    background-color: #eee;
    margin: 0;
    height: 100%
}

.grid {
    display: grid;
    width: 100%; /*usa el 100% del padre o sea del body en este caso*/
    height: 100%;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 5px;
    /*justify-content: space-around; /*agrega un espacio entre medio y a los costads que se acomoda al tamagno de pantalla*/
    justify-content: start; /*con space-evenly es de manera uniforme igual a todos lados, y esta space-between*/
    align-content: center; /*tiene todas las propiedades que tiene el justify*/

}
.red {
    background-color: red;
}

