body {
    background-color: #eee;
}
/**
p {
    display: inline; le cambio la propiedad de block a los p
}

#invisible {
    display:none; para volver invisible la etiqueta de div
}


span {
    display: block; para volver blocke un span
}
*/