body {
    background-color: #eee;
}

/*
ul li { cuando quiero seleccionar un elemento que esta dentro de otro elemento lo selecciono así
    list-style-type: disc; circle, lower alpha, etc.
    background-color: #fff;
    border: solid 1px #ddd;
}
*/

ul {
    list-style-type: none;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding-left: 0px;
    /*padding: 15px;*/
}

li {
    border-bottom: solid 1px #ddd;
    padding: 15px;
}