body {
    background-color: #eee;
}

.box {
    box-shadow: 0px 1px 2px rgba(0,100,0,0.5) inset; /*abajo, derecha, blur que hace que la sombra crezca y parezca mas levantado, color, y para donde queremos la sombra
                                                para que parezca undido*/
}

.text {
    color: white;
    text-shadow: 0px 1px 2px rgba(255, 0, 0, 0.3); /*para donde se separa ala derecha, para donde en vertical hacia abajo, color*/
}